banana_backend/models/model.pkl
banana_backend/models/regression.pkl
banana_backend/models/yolov11.pt
/banana_backend/venv
env

# Flutter
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Pods/

# Python
venv/
__pycache__/
*.pyc

# Windows
*.dll
