*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/assets/best.pt
app/src/main/assets/best_model_10k_epochs.pkl
app/src/main/assets/yolov11.pt
app/src/main/assets/regression.pkl
